/* Fencesoft Network Branding */
/* body {background-color:#f7f7f7; background-image:-moz-linear-gradient(center top , #fefefe, #dfe8da); background-repeat:no-repeat; background-attachment:fixed;} */
.fs-logo {margin:35px 0 0 0;}
a, .navbar ul li > a, .forget-pass a, i#tool-qtip {color:#2493BE;}
.forget-pass a:hover, i:hover#tool-qtip {color:#c03d20;}
.ui-slider .ui-slider-range {background-color:#2493BE; background-image:-moz-linear-gradient(center top, #437B9C, #2493BE); background-image:linear-gradient(#437B9C, #2493BE) !important;}
.primary.btn {background-image:linear-gradient(#2493BE, #437B9C) !important; border:1px solid #437B9C !important; box-shadow:0 0 3px #437B9C inset !important;}
div:hover.primary.btn {background-image:linear-gradient(#437B9C, #2493BE) !important;}
/* .solo-banner, .copy2 {line-height:24px; !important; padding:5px 0 !important; margin:0 0 20px 0 !important;} */
ul.image_picker_selector li:hover, ul.thumbnails.image_picker_selector li .thumbnail.selected {background:#2493BE;}
ul.image_picker_selector h3 {color:#2493BE;}

/* Material Selection */
/* .select-box {min-height:340px; max-height:340px; background:url('../images/dummy-select.jpg') no-repeat center center transparent; background-size:100% 100%;}
h4.filter-header {display:none;}
label[for=ChainlinkFences] {display:block;} */